@import './resets/normalize.css'
@import './resets/reset.css'
@import './globals.sass'
@import url(https://fonts.googleapis.com/css?family=Lato:400,700)


@mixin center($horizontal: true, $vertical: true)
  position: absolute
  @if ($horizontal and $vertical)
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  @else if ($horizontal)
    left: 50%
    transform: translate(-50%, 0)
  @else if ($vertical)
    top: 50%
    transform: translate(0, -50%)


/* Creates star field TODO: circular field to spin maybe add randomisation to star color and opacity*/
// TODO, change to rems
@function create_stars($num)
  $stars: '1714px 387px rgba(255,255,255, 0.2)'
  @for $x from 0 to $num
    $stars: '#{$stars} , #{random(2000)}px #{random(2000)}px rgba(255,255,255, 0.4)'

  @return unquote($stars)

/* Star animation */
@keyframes move-stars
  from
    transform: translateY(0px) translateX(0px)
  to
    transform: translateY(-2000px) translateX(-2000px)

  
/* Base */
html, body
  // root em
  font-size: 16px
  width: 100%
  height: 100%
  font-family: $main-font
  color: $font-col
  min-width: 20rem
  &::selection
    color: $highlight-col

#app
  position: relative
  height: 200%
  width: 100%



/* Hero background */
// TODO: abstract out hero-gradient
$small-stars: 1200
$big-stars: 400
$star-img: url('https://upload.wikimedia.org/wikipedia/commons/f/fd/Hubble_image_of_MACS_J0717_with_mass_overlay.jpg')

.hero
  position: fixed
  // push below nav bar
  padding-top: 3.25rem
  width: 100%
  height: 100%
  background: $white
  header
    height: 70%
    overflow: hidden
    background: #161F2B
    background: #090A0F linear-gradient(to top, #1B2735 40%, #090A0F 100%)
    background: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.6) 40%, rgba(9, 10, 15, 0.6) 100%), $star-img
    .small-stars
      height: 1px
      width: 1px
      // creates field of larger stars
      box-shadow: create_stars($small-stars)
      animation: move-stars 1000s linear infinite
      content: ''
    .big-stars
      height: 2px
      width: 2px
      box-shadow: create_stars($big-stars)
      animation: move-stars 600s linear infinite
      content: ''
// Name span  
.hero-name
  position: absolute
  top: 30%
  left: 50%
  transform: translate(-50%, -30%)
  text-align: center
  width: 80%
  font-size: 2.2rem
  font-weight: 700
  h1
    color: white
    padding-bottom: 2rem
    &:after
      position: absolute
      transform: translateX(-50%) rotate(2deg)
      left: 50%
      top: -25%
      width: 70%
      min-width: 22rem
      max-width: 68.75rem
      height: 100%
      background: rgba($dark-col, 0.8)
      z-index: -2
      content: ''
  h2
    color: black
    font-size: 80%
    &:after
      position: absolute
      transform: translateX(-50%) rotate(-1deg)
      left: 50%
      top: 56%
      width: 50%
      min-width: 14.4rem
      max-width: 34.4rem
      height: 60%
      background: rgba($highlight-col, 1)
      z-index: -1
      content: ''


/* Wrappers */


.site-wrap
  position: absolute
  // moves content panel down
  top: 60%
  width: 100%

.content
  position: relative
  margin: 0 auto
  width: 90%
  max-width: 75rem
  // keeps content above footer spacer 
  z-index: 1
  
/* Common component Styles */


/* Card component */

$card-base-margin: 2rem
$card-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)


.card
  position: relative
  padding: 2%
  background: $white
  // TODO: url loader
  background: $paper-texture
  border-radius: 1px
  box-shadow: $card-shadow
  margin-bottom: $card-base-margin


/* Section tag component */

.section-tag
  text-align: center
  font-size: 1.7em
  padding: 1rem 0
  span
    padding: 0 0.5rem
    border-bottom: 0.25rem solid $highlight-col
    font-style: italic

// navigation link scroll location
.nav-anchor
  position: absolute
  top: -70px

/*Navigation  */
$nav-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.main-navigation
  position: fixed
  width: 100%
  text-align: center
  font-size: 1.3rem
  background: $paper-texture
  z-index: 999
  box-shadow: $nav-shadow
  
.nav-bar
  // larger than needed max-height for animation
  max-height: 0rem
  overflow: hidden
  transition: max-height 0.3s
  li
    display: block
    a
      display: block
      padding: 1rem 0
      height: 100%
      width: 100%
      color: $font-col
      text-decoration: none
      transition: color 0.1s ease
      &:hover
        color: $highlight-col
        text-decoration: underline


.nav-open
  // max-height larger than needed
  max-height: 500px

.nav-toggle
  padding: 0.6rem 0
  cursor: pointer
  border: $card-border
  margin: 0.2rem
  &:hover
    color: $highlight-col

/* Sections */

/* Introduction card */
.intro
  position: relative
  padding: 1.5rem
  font-size: 1.3rem
  text-align: center
  border-radius: 0.1rem
  border: 0.44rem double rgba(black, 0.2)
  p
    padding: 1rem 0 0.5rem 0
    line-height: 2rem
  // monkey svg  
  svg
    display: none
  #monkey
    animation: float 30s ease-in-out alternate infinite
  
// svg monkey float animation
@keyframes float
  0%, 100%
    transform: translate3d(-40px, -32px, 0) rotate(-3deg)
  50%
    transform: translate3d(-30px, -42px, 0) rotate(2deg)


/* Work Section */

/* Common work styles */

.work
  box-sizing: border-box
  padding: 1rem
  border: $card-border
  position: relative

.description
  .title
    padding-bottom: 0.5rem
    font-weight: 700
    span
      padding: 0 0.2rem
      border-bottom: 0.2rem solid $highlight-col
      line-height: 1.2rem
  .main
    padding: 0.3rem
    p
      padding: 0.2rem 0
    .tech
      font-size: 0.8em
      font-style: italic
      color: rgba(black, 0.6)


/* Single project showcase sub-section */

.project
  position: relative
  
.screen-wrap
  position: relative
  &:after
    display: block
    padding-top: 60%
    /* enforce ratio*/
    content: ''
  .screens
    /* fill parent */
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
  .screen-l
    width: 60%
    height: 60%
    top: 50%
    left: 45%
    border: 0.4rem solid black
    border-radius: 0.1em
  .screen-m
    width: 40%
    height: 40%
    top: 65%
    left: 65%
    border: 0.4rem solid black
    border-radius: 0.5rem
  .screen-s
    width: 7%
    height: 20%
    top: 80%
    left: 45%
    border: 0.3rem solid black
    border-radius: 0.3rem
  [class*="screen-"]
    position: absolute
    background-size: cover !important
    overflow: hidden
    transform: translate(-50%, -50%)
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.33)

/* Sliders sub-section*/
.slider-wrap
  position: relative
  margin: 2rem auto
  &:after
    display: block
    padding-top: 33.3%
    /* enforce ratio*/
    content: ''

.slider
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  white-space: nowrap
  /* arrows */
  .left, .right
    position: absolute
    top: 50%
    transform: translateY(-50%)
    height: auto
    padding: 1%
    color: white
    font-size: 2rem
    user-select: none
    cursor: pointer
    text-align: center
    background: rgba(black, 0.1)
    z-index: 2
    &:hover
      background: rgba(black, 0.3)
  .left
    left: 0
  .right
    right: 0

.slide
  position: relative
  display: inline-block
  height: 100%
  width: 20%
  background-size: cover
  &.active
    width: 60%
  &:hover > .details, &:focus > .details
    opacity: 1
  .details
    position: absolute
    background: $paper-texture
    top: 80%
    left: 50%
    transform: translateX(-50%)
    width: 120%
    min-height: 50%
    max-width: 40rem
    min-width: 15rem
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    // override slide whitespace style
    white-space: normal
    text-align: center
    opacity: 0
    transition: opacity 0.1s ease-in-out
    z-index: 1
    a
      display: inline
      color: inherit
    

/* Experience/Skills section */


.skills-wrap
  padding: 1rem
  text-align: center
  border: $card-border
  select
    display: block
    margin: 2rem auto
    padding: 0.3rem 0.3rem
    user-select: none
    border: none
    background: $background-col
    border-radius: 0.3rem
    font-size: 1.2em
    text-transform: uppercase
    outline: none
  li
    box-sizing: border-box
    display: inline-block
    font-size: 2em
    padding: 0.5rem 1rem
    transition: font-size 0.3s linear
    color: rgba(black, 0.5)
  .active
    color: rgba(black, 0.9)
    font-size: 2.1em
    

/* Testimonial Section */
.card-content-wrap
  position: relative
  text-align: center
  padding: 6em 0

.quote
  box-sizing: border-box
  position: relative
  display: inline-block
  border: $card-border
  width: 15.6rem
  max-width: 15.6rem
  margin: 0.5rem
  padding: 2rem 0.5rem 0rem 0.5rem
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  background: $paper-texture
  img
    display: block
    position: relative
    border-radius: 50%
    width: 60%
    max-width: 12.5rem
    left: 50%
    transform: translateX(-50%)

  blockquote
    padding: 1rem 0.2rem 2rem 0.2rem
    q
      line-height: 1.25rem
    cite
      font-size: 1.3rem
      span
        font-family: serif
        display: block
        padding: 0.06rem
      span:last-child
        font-family: sans-serif
        font-size: 70%
        font-style: italic
        padding-bottom: 0.5rem
        color: $highlight-col

/* Site Footer */

// spacer provides backing for Contact pseudo and covers background fixed element
// may remove this in the future
.footer-spacer
  position: relative
  height: 10rem
  background: $white
  z-index: 0
  &:before
    position: absolute
    height: 30rem
    top: -30rem
    width: 100%
    background: $white
    content: ''

.site-footer
  position: relative
  bottom: 0
  background: $dark-col
  padding: 3rem 0
  z-index: 2
  &:before
    position: absolute
    top: -3.5rem
    width: 100%
    font-size: 4rem
    font-weight: 700
    color: $dark-col
    text-align: center
    content: 'Contact'
  a, a:visited
    color: white
    text-decoration: none
  a:hover
    color: $highlight-col
    text-decoration: underline
  ul
    text-align: center
    li
      font-size: 2rem
      padding: 1rem


@media(min-width: 37.5rem)
  
  .hero-name 
    font-size: 3rem
    h1:after
      min-width: 31.25rem
    h2:after
      min-width: 21.25rem
  
  .nav-bar
    max-height: 31.25rem
    text-align: left
    padding-left: 1rem
    li
      display: inline-block
      a
        padding: 1rem
  .nav-toggle
    display: none

  .skills-wrap
    padding: 1rem 1rem 3rem 1rem
    li
      padding: 1.5rem 1rem


@media(min-width: 62.5rem)

  

  .intro
    padding: 3rem 2rem
    .intro-text
      vertical-align: top
      box-sizing: border-box
      display: inline-block
      width: 60%
      padding: 1rem
    svg
      position: relative
      width: 40%
      height: 100%
      max-height: 26.25rem
      display: inline-block

  .project .description, .project .screen-wrap
    display: inline-block

  .project .screen-wrap
    width: 60%

  .project .description
    position: absolute
    top: 40%
    transform: translateY(-30%)
    width: 40%



